.progress-circle {
  width: 24px;
  height: 24px;
  position: relative;
  margin: 0 auto;
}

.progress-circle svg {
  transform: rotate(-90deg); /* Start from top */
}

.circle-bg {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 3;
}

.circle {
  fill: none;
  stroke: rgb(2, 151, 39);
  stroke-width: 3;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s;
}

