.topic-wrapper {
  margin: 20px;
}

.topic-scroll {
  display: flex;
  overflow: hidden;
  padding: 10px 0;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  max-height: 20px;         /* Limits height */

}

.topic-scroll::-webkit-scrollbar {
  display: none; 
}

.topic-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.topic-pill {
  background-color: black;
  color: white;
  padding: 6px 8px;
  border-radius: 999px;
  border: none;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.topic-pill .count {
  background-color: #444;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  color: #aaa;
}

.topic-pill:hover {
  color: rgb(0, 140, 255);
}

.expand-btn {

  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 14px;
  padding-left: 10px;
  margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

}
